# ------------------------------------
# Biztonsági mentések, beállítások
# ------------------------------------
*.bak
*.old

# ------------------------------------
# IDE Fájlok (pl. Visual Studio)
# ------------------------------------
.vs/
bin/
obj/

# ------------------------------------
# NAGYMÉRETŰ, BINÁRIS FÁJLOK / USER ADATOK
# ------------------------------------
documents/pdf/
documents/images/
documents/docx/
/documents/workshop_dok_summary_2026_01_01.docx
/documents/workshop26_project_dev_2026_01_01.docx
*.zip
database/