# ------------------------------------
# Biztonsági mentések, beállítások
# ------------------------------------
*.bak
*.old

# ------------------------------------
# IDE Fájlok (pl. Visual Studio)
# ------------------------------------
.vs/
bin/
obj/

# ------------------------------------
# NAGYMÉRETŰ, BINÁRIS FÁJLOK / USER ADATOK
# ------------------------------------
documents/pdf/
documents/images/
documents/docx/