body
{
	margin:0px;
	padding:0px;
	font-family:Sans-serif;
	background:#ddedfc;
}

.site-header
{
	z-index: 10;
	position: sticky;
	top: 0;
	display:flex;
	justify-content:center;
	/*margin-top:5px;*/
	/*background:#aaaaaa;*/
	min-height:40px;
}

.site-header__inside
{
	display:flex;
	width:90%;
	/*background:#cccccc;*/
	justify-content:space-around;
	align-items:center;
	padding:3px;
	border:2px solid #aabbdd;
	border-radius:8px;
}
.site-header__inside img
{
	height:55px;
	margin:0px;
	padding:0px;
	cursor:pointer;
}

.site-header__right
{
	display:flex;
	background:yellow;
	justify-content:space-between;
	align-items:center;
}

.site-header__logo
{
	/*background:skyblue;*/
}

.site-header__search
{
	background:#004411;
}

.site-header__navbar
{
	background:pink;
}

.site-header__donation
{
	background:#00ff00;
}

.header-button
{
	text-decoration:none;
	font-weight:bold;
	margin-left:15px;
	color:#3342d5;
	font-size:16px;
	padding:8px;
	background:white;
	cursor:pointer;
	border:1px solid black;
	border-radius:5px;
}



.logout-button
{
	text-decoration:none;
	/* font-weight:bold; */
	margin-left:15px;
	color:#3342d5;
	font-size:16px;
	border:1px solid black;
	border-radius:5px;
	padding:8px;
	cursor:pointer;
}


.footer
{
	background:#bbbbdd;
	position: fixed;
	bottom: 0;
	display:flex;
	justify-content:space-around;
	align-items:center;
	width:100%;
}

.category-bar
{
	position: sticky;
	top: 50px;
	display:flex;
	justify-content:center;
	margin-top:5px;
	background:#2b4156;
	
}

.category-bar__inside
{
	display:flex;
	width:90%;
	/* background:#cccccc; */
	justify-content:space-around;
	align-items:center;
	
}

.category-button
{
	text-decoration:none;
	font-weight:bold;
	padding:10px;
	color:white;
	font-size:16px;
	/* padding-left:0px; */
	text-align: center;
	cursor:pointer;
}

.category-button:HOVER
{
	color:#f07330;
}

.horizontal-list
{
	list-style-type: none;
	display: flex;
	/*justify-content:space-between;*/
}

.hero 
{
	display:flex;
	justify-content:space-between;
	margin-top: 50px;
	padding: 2rem 2rem;
	background-color: #e0ecff;
	text-align: center;
}

.hero img
{
	height:150px;
}

.main-content
{
	/* border:1px solid #cccccc; */
	margin:20px auto;
	margin-top: 0px;
	/* width:80%; */
	min-height:450px;
}

.topic-box
{
	display:flex;
	width:100%;
	margin:20px auto;
	background:#9999ff;
}

.topic-box img
{
	display:block;
	margin:auto;
}

.topic-box__left
{
	margin:40px auto;
	width: 20%;
}

.topic-box__right
{
	margin:20px auto;
	width: 20%;
}

.content-box
{
	margin:40px auto;
	width: 80%;
}

.content-box img
{
	display:block;
	margin:auto;
}



.usermenu
{
	display:flex;
	/* background:yellow; */
	justify-content:space-between;
	align-items:center;
}




.category-menu_label
{
	text-decoration:none;
	font-weight:bold;
	padding:12px;
	color:white;
	font-size:18px;
	text-align: center;
	/* padding-left:0px; */
}


.topic
{
	text-decoration:none;
	font-weight:bold;
	margin-top:3px;
	color:#3342d5;
	font-size:16px;
	cursor:pointer;
}

.topic:HOVER
{
	color:#f07330;
}

.topic_label
{
	display: flex;
	
}

.search_div
{
	display:flex;
	justify-content:center;
	align-items:center;
	width:20%;
}

.search-button
{
	padding-top:5px;
	padding-bottom:5px;
	background:#0b6aee;
	border:1px solid white;
	border-radius:5px;
	color:white;
	margin:0px;
	text-align: center;
}

.search_box
{
	display:flex;
	flex-direction: column;
	padding: 5px;
	background:#73abf9;
	border:1px solid white;
	border-radius:5px;
	color:#3342d5;
	margin:0px;
	width:20%;
	align-items:center;
	justify-content:center;
	float: right;
}

#search_topic
{
	background:#cccccc;
	border:1px solid darkblue;
	border-radius:5px;
	width:90%;
}


.search_result
{
	
	background:#cccccc;
	border:1px solid darkblue;
	width:90%;
	border-radius:5px;
}

.one_result
{
	cursor: pointer;
	padding: 3px;
	border:1px solid darkblue;
	border-radius:5px;
	margin:4px;
	font-size:12px;
	color:#3342d5;
}
.one_result:HOVER
{
	color:#f07330;
}

.form-box
{
	position: sticky;
	top: 120px;
}

.form_div
{
	width:25%;
	margin:30px auto;
	padding: 10px;
	margin-bottom: 0px;
	border:1px solid #dddddd;
	border-radius:8px;
	background: white;
}

.input-box
{
	width:100%;
	margin-top:5px;
	padding:8px;
	border:1px solid #cccccc;
	border-radius:8px;
	-webkit-box-sizing:border-box; /*ez a select miatt kellet, az nem border-ezik*/	
}

.label
{
	position: relative;
	left:35px;
	top:12px;
	z-index: 2;
	padding:3px;
	background: white;
	font-size: 10px;
	color:#3342d5;
	/* border:1px solid white; */
	/* border-radius:4px; */
	cursor:pointer;
	/* display: block; */
  	margin-left: auto;
 	margin-right: auto;
	/* width:35%; */

}

.login-button
{
	margin-top: 10px;
	color:#3342d5;
	font-size:16px;
	font-weight: bold;
	border:1px solid black;
	border-radius:5px;
	padding:8px;
	cursor:pointer;
	display: block;
  	margin-left: auto;
 	margin-right: auto;
}

.error-box
{
	width:35%;
	margin:0px auto;
}

.admin
{
	background:#cccccc;
	padding:8px;
	border-radius:5px;
}

.signed
{
	border:1px solid blue;
	border-radius:8px;
	box-shadow: 3px 3px skyblue;
}
	
.failure-box
{
	padding: 3px;
	margin-top: 3px;
	background:#e03d06;
	color:white;
	border:1px solid #e03d06;
	border-radius:8px;
	font-size: 10px;
}

