/* =========================================================
   Footer
   ========================================================= */
.footer{
  background: #bbbbdd;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  display:flex;
  justify-content:space-around;
  align-items:center;
  padding: 10px 0;
  z-index: 2000;
}
