body
{
	margin:0px;
	padding:0px;
	font-family:Sans-serif;
	background:#ddedfc;
}

.site-header
{
	z-index: 10;
	position: sticky;
	top: 0;
	display:flex;
	justify-content:center;
	/*margin-top:5px;*/
	/*background:#aaaaaa;*/
	min-height:40px;
}

.site-header__inside
{
	display:flex;
	width:90%;
	/*background:#cccccc;*/
	justify-content:space-around;
	align-items:center;
	padding:3px;
	border:2px solid #aabbdd;
	border-radius:8px;
}
.site-header__inside img
{
	height:55px;
	margin:0px;
	padding:0px;
	cursor:pointer;
}

.site-header__logo
{
	/*background:skyblue;*/
}

.site-header__search
{
	background:#004411;
}

.site-header__navbar
{
	background:pink;
}

.site-header__donation
{
	background:#00ff00;
}

.header-button
{
	text-decoration:none;
	font-weight:bold;
	margin-left:15px;
	color:#3342d5;
	font-size:16px;
	padding:8px;
	background:white;
	cursor:pointer;
	border:1px solid black;
	border-radius:5px;
}



.logout-button
{
	text-decoration:none;
	/* font-weight:bold; */
	margin-left:15px;
	color:#3342d5;
	font-size:16px;
	border:1px solid black;
	border-radius:5px;
	padding:8px;
	cursor:pointer;
}


.footer
{
	background:#bbbbdd;
	position: fixed;
	bottom: 0;
	display:flex;
	justify-content:space-around;
	align-items:center;
	width:100%;
}

.category-bar
{
	position: sticky;
	top: 50px;
	display:flex;
	/*justify-content:center;*/
	margin-top:5px;
	background:#2b4156;
	
}

.category-bar__inside
{
	display:flex;
	width:100%;
	/* background:#cccccc; */
	justify-content:space-around;
	align-items:center;
	
}

.category-bar__category
{
	text-decoration:none;
	font-weight:bold;
	padding:10px;
	color:brown;
	font-size:16px;
	/* padding-left:0px; */
	text-align: center;
	cursor:pointer;
	background:grey;
}



.category-bar__branch-list,
.category-bar__topic-list,
.category-bar__subtopic-list {
    display: none;
    position: absolute;
    background: #fff;
}

.category-bar__category:hover > .category-bar__branch-list {
    display: block;
}

.category-bar__branch:hover > .category-bar__topic-list {
    display: block;
}

.category-bar__topic:hover > .category-bar__subtopic-list {
    display: block;
}


.horizontal-list
{
	list-style-type: none;
	display: flex;
	justify-content:space-between;
	width:90%;
}

.main-content 
{
	display:flex;
	justify-content:space-between;
	margin-top: 50px;
	padding: 2rem 2rem;
	background-color: #e0ecff;
	text-align: center;
	min-height:450px;
}

.main-content__mid 
{
	width:80%;
	background-color: #e1ecff;
}

.main-content__left
{
	width:10%;
	background-color: #eeecff;
}

.main-content__right
{
	width:10%;
	background-color: #eeecff;
}


.main-content__left img
{
	max-height:150px;
}

.main-content__right img
{
	max-height:150px;
}

.learning-stage
{
	margin:100px auto;
	padding:30px;
	background:#9999ff;
}


.learning-stage img
{
	margin:20px auto;
	max-width:80%;
}

/* collapsed panels */
.is-collapsed { display: none; }

/* button alap */
.category-bar__category-btn,
.category-bar__topic-btn {
  cursor: pointer;
  background: transparent;
  border: 0;
  padding: 0.5rem 0.75rem;
  text-align: left;
  width: 100%;
}

/* subtopic link */
.category-bar__subtopic-link 
{
	display: block;
	padding: 0.35rem 0.75rem; 
}

/* A category item legyen pozicionálási kontextus */
.category-bar__category {
  position: relative;
}

/* Panel ne tolja le a sávot, hanem lebegjen alatta */
.category-bar__panel {
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 2000;

  width: min(560px, 92vw);
  background: white;        /* később theme */
  border: 1px solid rgba(0,0,0,0.12);
  border-radius: 10px;

  max-height: 70vh;
  overflow: auto;

  padding: 0.5rem;
  box-shadow: 0 10px 30px rgba(0,0,0,0.18);
}

/* collapsed marad */
.is-collapsed { display: none; }


.category-bar__branch-block {
  padding: 0.25rem 0;
  border-bottom: 1px solid rgba(0,0,0,0.08);
}

.category-bar__branch-title {
  font-weight: 700;
  font-size: 0.95rem;
  padding: 0.35rem 0.5rem;
  opacity: 0.85;
  /* opcionális: sticky branch header a panel scrollján belül */
  position: sticky;
  top: 0;
  background: white;
}

.category-bar__topic-list {
  list-style: none;
  margin: 0;
  padding: 0 0 0.25rem 0;
}

.category-bar__topic-btn {
  width: 100%;
  text-align: left;
  padding: 0.35rem 0.6rem;
  border-radius: 8px;
}

.category-bar__topic-btn:hover {
  background: rgba(0,0,0,0.06);
}


