body
{
	margin:0px;
	padding:0px;
	font-family:Sans-serif;
	background:#ddedfc;
}

.site-header
{
	z-index: 10;
	position: sticky;
	top: 0;
	display:flex;
	justify-content:center;
	/*margin-top:5px;*/
	/*background:#aaaaaa;*/
	min-height:40px;
}

.site-header__inside
{
	display:flex;
	width:90%;
	/*background:#cccccc;*/
	justify-content:space-around;
	align-items:center;
	padding:3px;
	border:2px solid #aabbdd;
	border-radius:8px;
}
.site-header__inside img
{
	height:55px;
	margin:0px;
	padding:0px;
	cursor:pointer;
}

.site-header__logo
{
	/*background:skyblue;*/
}

.site-header__search
{
	background:#004411;
}

.site-header__navbar
{
	background:pink;
}

.site-header__donation
{
	background:#00ff00;
}

.header-button
{
	text-decoration:none;
	font-weight:bold;
	margin-left:15px;
	color:#3342d5;
	font-size:16px;
	padding:8px;
	background:white;
	cursor:pointer;
	border:1px solid black;
	border-radius:5px;
}



.logout-button
{
	text-decoration:none;
	/* font-weight:bold; */
	margin-left:15px;
	color:#3342d5;
	font-size:16px;
	border:1px solid black;
	border-radius:5px;
	padding:8px;
	cursor:pointer;
}


.footer
{
	background:#bbbbdd;
	position: fixed;
	bottom: 0;
	display:flex;
	justify-content:space-around;
	align-items:center;
	width:100%;
}

.category-bar
{
	position: sticky;
	top: 50px;
	display:flex;
	/*justify-content:center;*/
	margin-top:5px;
	background:#2b4156;
	
}

.category-bar__inside
{
	display:flex;
	width:100%;
	/* background:#cccccc; */
	justify-content:space-around;
	align-items:center;
	
}

.category-bar__category
{
	text-decoration:none;
	font-weight:bold;
	padding:10px;
	color:brown;
	font-size:16px;
	/* padding-left:0px; */
	text-align: center;
	cursor:pointer;
	background:grey;
}



.category-bar__branch-list,
.category-bar__topic-list,
.category-bar__subtopic-list {
    display: none;
    position: absolute;
    background: #fff;
}

.category-bar__category:hover > .category-bar__branch-list {
    display: block;
}

.category-bar__branch:hover > .category-bar__topic-list {
    display: block;
}

.category-bar__topic:hover > .category-bar__subtopic-list {
    display: block;
}


.horizontal-list
{
	list-style-type: none;
	display: flex;
	justify-content:space-between;
	width:90%;
}

.main-content 
{
	display:flex;
	justify-content:space-between;
	margin-top: 50px;
	padding: 2rem 2rem;
	background-color: #e0ecff;
	text-align: center;
	min-height:450px;
}

.main-content__mid 
{
	width:80%;
	background-color: #e1ecff;
}

.main-content__left
{
	width:10%;
	background-color: #eeecff;
}

.main-content__right
{
	width:10%;
	background-color: #eeecff;
}


.main-content__left img
{
	max-height:150px;
}

.main-content__right img
{
	max-height:150px;
}

.topic-box
{
	background:#9999ff;
}


.topic-box img
{
	margin:20px auto;
	max-width:80%;
}


